<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="./js/main.js"></script>
		<script type="text/javascript" src="./js/engine.js"></script>
		<script type="text/javascript" src="./js/parser.js"></script>
		<script type="text/javascript" src="./js/ajax.js"></script>

		<title>Российская академия правосудия - расписание</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>
	<body>

		<div id="wrap">
		{% for column in columns %}
			<div class="column">
				<div class="header">{{ column.header }}</div>

				<div class="items">
			{% for item in column.items %}
					<div class="item {{ item.class }}">
						<a class="link" href="./?{{ item.href }}">{{ item.item }}<br></a>
				{% if position == 'subjects' %}
						<div class="info">
							<div class="left">
								<small>{{ item.begin }}-{{ item.end }}</small>
							</div>
							<div class="right">
								<small>{{ item.auditory }} ауд.</small>
							</div>
							<div style="clear: both;"></div>
						</div>
				{% endif %}
					</div>
				{% else%}
					<div class="simple" style="padding: 0.5em;"><a>Элементы отсутствуют</a></div>
			{% endfor %}
				</div>
			</div>
			{% else %}
			<div class="column">
				<div class="header">Элементы отсутствуют</div>

				<div class="items">
					<div class="simple" style="padding: 0.5em;">Элементы отсутствуют</div>
				</div>
			</div>
		{% endfor %}
		</div>

	<div class="info_msg">
		<div style="text-align: center;"><strong>Тестовый режим!</strong></div>
		Просьба <a href="http://vkontakte.ru/mail.php?act=write&to=4938290" target="_blank">сообщать</a> обо всех странностях<br>
		неровностях и неправильностях работы:))
	</div>

<!--[if gt IE 6]>
	<div class="info_msg">
		<div style="text-align: center;"><strong>Этот браузер не поддерживаеться!!!</strong></div>
		Мы не гарантируем корректную работу ресурса с этим браузером и настоятельно рекомендуем бесплатно установить один из следующих браузеров:
		<a href="http://www.opera.com/browser/download/" target="blank">Opera</a> |
		<a href="http://www.google.ru/chrome?hl=ru&brand=CHMI" target="blank">Chrome</a> |
		<a href="http://www.mozilla-europe.org/ru/firefox/" target="blank">Firefox</a> |
		<a href="http://www.apple.com/ru/safari/" target="blank">Safari</a>.
	</div>
<![endif]-->
<!--[if lte IE 6]>
	<div class="info_msg">
		<div style="text-align: center;"><strong>Этот браузер не поддерживаеться!!!</strong></div>
		Ваш браузер слишком устарел, он не соответсвтует современным Web-стандартам и не поддерживает новые технологии, используемые этим ресурсом. Для корректной работы мы настоятельно рекоммендуем бесплатно установить один из следующих браузеров:
		<a href="http://www.opera.com/browser/download/" target="blank">Opera</a> |
		<a href="http://www.google.ru/chrome?hl=ru&brand=CHMI" target="blank">Chrome</a> |
		<a href="http://www.mozilla-europe.org/ru/firefox/" target="blank">Firefox</a> |
		<a href="http://www.apple.com/ru/safari/" target="blank">Safari</a>.
	</div>
<![endif]-->

	<div id="footer">{{ copyright | raw }}</div>


	</body>
</html>